# Base de données
psycopg2-binary==2.9.9
SQLAlchemy==2.0.30
python-dotenv==1.0.1

# Manipulation données
pandas==2.2.2
numpy==1.26.4
holidays==0.50

# Dashboard
dash==2.17.1
dash-bootstrap-components==1.6.0
plotly==5.22.0

# Exports
openpyxl==3.1.2
XlsxWriter==3.2.0
reportlab==4.2.0
kaleido==0.2.1

# Utilitaires
tqdm==4.66.4

# Production (Render / Railway)
gunicorn==22.0.0
